::-webkit-scrollbar {
  width: 0.75vw;
}

::-webkit-scrollbar-track{
  background: hsla(202, 63%, 84%, 1);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb{
  background: hsla(202, 63%, 53%, 1);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover{
  background: hsla(202, 63%, 53%, 0.5);
}

html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #dcedf7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
